.grid-container img {
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
}

@media (min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        width: 80vw;
        margin: auto;
    }

    .grid-item {
        max-width: 100%;
        height: auto;
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 640px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        width: 90vw;
        margin: auto;
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
    }

    .grid-item {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100vw;
        margin: auto;
    }

    .grid-item img {
        max-width: 100%;
        height: auto;
    }

    .grid-item {
        max-width: 100%;
        height: auto;
    }

    .container {
        display: block;
    }

    #div1, #div2 {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .grid-container img:nth-child(n + 10) {
        display: none;
    }
}
